{% extends "DoctrineLicenseManagerBundle::layout.html.twig" %}

{% block content %}
<div class="row">
    <div class="span12">
        <h2>Imprint</h2>

        <p>This information only applies when you view the page on beberlei.de or
            on a subdomain. The license switcher is open source, and as such can be used
            by other parties without our knowledge.</p>

        <h3>Address</h3>

        <p>Benjamin Eberlei<br />
        Gottfried-Claren-Straße 19<br />
        53225 Bonn</p>

        <p>The following legal information is required by the German law, and therefore in German:</p>

        <p>Benjamin Eberlei<br />
        Gottfried-Claren-Straße 19<br />
        53225 Bonn</p>

        <p>E-Mail: <a href="mailto:kontakt@beberlei.de">kontakt@beberlei.de</a><br />
        Telefon: +49 (0)151 42638337<br />

        <p>Inhaltlich Verantwortlicher: Benjamin Eberlei (Anschrift, s.o.)</p>
    </div>
</div>

{% endblock %}
