{% extends "DoctrineLicenseManagerBundle::layout.html.twig" %}

{% block content %}
<div class="row">
    <div class="span12">
        <h2>Imprint</h2>

        <p>This information only applies when you view the page on qafoo.com or
            on a subdomain. The license switcher is open source, and as such can be used
            by other parties without our knowledge.</p>

        <h3>Address</h3>

        <p>Qafoo GmbH<br />
        Bochumer Strasse 226<br />
        45886 Gelsenkirchen</p>

        <p>The following legal information is required by the German law, and therefore in German:</p>

        <p>Qafoo Gesellschaft mit beschränkter Haftung<br />
        Bochumer Strasse 226<br />
        45886 Gelsenkirchen</p>

        <p>Vertretungsberechtigte Geschäftsführer:</p>

        <ul>
            <li>Kore Nordmann</li>
            <li>Manuel Pichler</li>
            <li>Tobias Schlitt</li>
            <li>Jakob Westhoff</li>
        </ul>

        <p>E-Mail: <a href="mailto:contact@qafoo.com">contact@qafoo.com</a><br />
        Telefon: +49 (0)209 40501252<br />
        Registergericht: Amtsgericht Gelsenkirchen<br />
        Registernummer: HRB 10560</p>

        <p>Umsatzsteuer-Identifikationsnummer gem. §27a UStG: DE272316452<br />
        Inhaltlich Verantwortlicher: Benjamin Eberlei (Anschrift, s.o.)</p>
    </div>
</div>

{% endblock %}
