{% extends "DoctrineLicenseManagerBundle::layout.html.twig" %}

{% block content %}
<div class="row">
    <div class="span12">
        <h2>Welcome to the Open-Source License Switcher project</h2>
    </div>
</div>

<div class="row">
    <div class="span6">
        <p>The world of open-source licensing is tricky. Open-source licenses
        are not always compatible to each other and picking the wrong license
        can harm the apdotion of your project depending on the ecosystem you
        are targeting.</p>

        <p>Changing the license of an open-source project after you already had
        some contributions requires some work. You need the consent of all
        committers if they haven't given you the rights through a CLA or
        FLA.</p>

        <p>The Open-Source License Switcher project helps you change the
        license of your project by offering tools to ask all the contributors
        for their permission to change the license. The project was originally
            born out of the license change from the PHP project Doctrine from
            LGPL to MIT.</p>

    </div>

    <div class="span6">
        <p>The Open-Source License Switcher project is hosted, developed and
        supported by Qafoo, a german consulting company for quality insurance
        in PHP and javascript projects.</p>

        <p align="center"><a href="http://qafoo.com"><img width="228" height="63" src="{{ asset('bundles/doctrinelicensemanager/images/logo.png') }}" /></a></p>

        <p>We are fans of open-source and publish projects under a varity of
        permissive and restrictive licenses. We believe that every open-source
        project should have its own perspective on licensing and choose the
        license that fits best. The license switcher is open-source itself and
        released under the MIT license.</p>
    </div>
</div>

<div class="row">
    <div class="span12">
        <p align="center"><a href="{{ path('licenses_project_create') }}" class="btn btn-primary btn-large">Help me switch license</a></p>
    </div>
</div>

<div class="row">
    <div class="span12">
        <h3>Features</h3>

        <ul>
            <li>Support for Github projects only (Contact us if you need something else)</li>
            <li>No username+passwords required for committers, login is done through a hashed url.</li>
            <li>Import all commits along with information about commiter name, files changed, insertions, deletions and the commit message.</li>
            <li>Send emails to all committers asking for a change in license from one to another <a href="http://opensource.org/">OSI</a> approved license.</li>
            <li>Statistics about the progress of a license change.</li>
            <li>Maintainer(s) can add custom e-mail message and motivation for the license change.</li>
        </ul>
    </div>
</div>

{% endblock %}
